# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_save

# Generated images & results
results/

# Latex clutter (if any)
report/*.aux
report/*.log
report/*.out

# Python cache
__pycache__/
*.pyc

# OS/editor junk
.DS_Store
*.swp
